go 1.23.4

use (
	.
	./devices
	./devices/sfr
	./devices/shelly
	./devices/shelly/gen1
	./devices/shelly/input
	./devices/shelly/schedule
	./devices/shelly/script
	./devices/shelly/shttp
	./devices/shelly/sswitch
	./devices/shelly/system
	./devices/shelly/types
	./devices/tapo
	./hlog
	./homectl/list
	./homectl/mqtt
	./homectl/options
	./homectl/shelly
	./homectl/shelly/jobs
	./homectl/shelly/mqtt
	./homectl/shelly/options
	./homectl/show
	./homectl/toggle
	./internal/myip
	./internal/mynet
	./internal/myzone
	./myhome/http
	./myhome/logs
	./myhome/mqtt
	./mymqtt
)
