go 1.24.2

use (
	.
	./cmd/wsl-mdns-bridge
	./hlog
	./homectl/follow
	./homectl/forget
	./homectl/group
	./homectl/list
	./homectl/mqtt
	./homectl/options
	./homectl/set
	./homectl/shelly
	./homectl/shelly/jobs
	./homectl/shelly/kvs
	./homectl/shelly/mqtt
	./homectl/shelly/script
	./homectl/shelly/wifi
	./homectl/show
	./homectl/sswitch
	./internal/debug
	./internal/global
	./internal/myhome
	./internal/myip
	./internal/mynet
	./internal/myzone
	./internal/tools
	./myhome/daemon
	./myhome/daemon/watch
	./myhome/devices
	./myhome/devices/impl
	./myhome/http
	./myhome/mqtt
	./myhome/storage
	./mymqtt
	./pkg/devices
	./pkg/sfr
	./pkg/shelly
	./pkg/shelly/gen1
	./pkg/shelly/input
	./pkg/shelly/kvs
	./pkg/shelly/mqtt
	./pkg/shelly/schedule
	./pkg/shelly/script
	./pkg/shelly/shttp
	./pkg/shelly/sswitch
	./pkg/shelly/system
	./pkg/shelly/types
	./pkg/shelly/wifi
	./pkg/tapo
)
