# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html

[Unit]
Description=MyHome as a system service
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/home/%i/go/bin/myhome daemon run --disable-device-manager
Restart=always
RestartSec=5
User=%i
# XDG_STATE_HOME :Where user-specific state files should be written (analogous to /var/lib).
# $HOME/.local/state is a good place to store runtime state
WorkingDirectory=/home/%i/.local/state/myhome

# Rate limiting to prevent restart loops
StartLimitIntervalSec=300
StartLimitBurst=5

[Install]
# multi-user.target normally defines a system state where all network services
# are started up and the system will accept logins, but a local GUI is not
# started. This is the typical default system state for server systems, which
# might be rack-mounted headless systems in a remote server room.
WantedBy=multi-user.target
