name: Build and Test
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - v[0-9]+.[0-9x]+.x
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.x'
      - id: file-size-check
        name: Enforce max file size
        run: CHECK_ALL_TRACKED=1 bash ./scripts/check-file-size-limit.sh
      - id: go-generate
        name: Run go generate
        run: |
          go generate ./...
          go generate ./internal/myhome/ui/...
      - id: go-test
        name: Run go test
        run: go test ./...
